<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/incl/layout/template.xhtml">
    <ui:define name="head">

        <script src="./scripts/u2f-api.js"/>

        <script>
        var auth_request = ${fido_u2f_authentication_request};
        var register_request = ${fido_u2f_registration_request};

        function startRegistration() {
            u2f.register(register_request.registerRequests, register_request.authenticateRequests,
            function(data) {
                if(data.errorCode) {
                    alert("U2F failed with error: " + data.errorCode);
                    return;
                }

                document.getElementById('tokenResponse').value = JSON.stringify(data);
                document.getElementById('authMethod').value = 'enroll';

                document.getElementById('u2f_form').submit();
            });
        }

        function startAuthentication() {
            u2f.sign(auth_request.authenticateRequests,
            function(data) {
                if(data.errorCode) {
                    alert("U2F failed with error code: " + data.errorCode);
                    return;
                }

                document.getElementById('tokenResponse').value = JSON.stringify(data);
                document.getElementById('authMethod').value = 'authenticate';

                document.getElementById('u2f_form').submit();
            });
        }

        if (auth_request != null) {
            setTimeout(startAuthentication(), 1000);
        } else {
            setTimeout(startRegistration(), 1000);
        }
        </script>

        <style type="text/css">
            .login-panel {
                border-style: solid;
                border-width: 1px;
                padding: 1px;
                background-color: #FFFFFF;
                border-color: #C4C0B9;
            }

            .login-panel-header {
                background-color: #D4CFC7;
                background-image: url("#{oxAuthConfigurationService.getImgLocation()}/panel_header_bg.png");
                background-position: left top;
                background-repeat: repeat-x;
                border-style: solid;
                border-width: 1px;
                padding: 2px;
                border-color: #D4CFC7;
                color: #000000;
                font-family: Arial, Verdana, sans-serif;
                font-size: 11px;
                font-weight: bold;
            }

            .login-panel-body {
                padding: 10px;
                color: #000000;
                font-family: Arial, Verdana, sans-serif;
                font-size: 11px;
            }
        </style>
    </ui:define>

    <ui:define name="pageTitle">oxAuth - U2F Login</ui:define>

    <ui:define name="body">
        <form method="post" action="#{request.contextPath}/postlogin" id="u2f_form" onsubmit="return false;">
            <input type="hidden" name="username" value="${identity.username}"/>
            <input type="hidden" name="authMethod" id="authMethod"/>
            <input type="hidden" name="tokenResponse" id="tokenResponse"/>
        </form>

        <table border="0" align="center">
            <tr>
                <td>
                    <div>
                        <h:form id="loginForm">
                            <s:token/>
                            <h:panelGroup rendered="#{not identity.loggedIn}">
                                <div class="login-panel">
                                    <div class="login-panel-header">
                                        <h:outputText value="#{messages['login.login']}"/>
                                    </div>
                                    <div class="login-panel-body">
                                        <c:set var="client" value="#{clientService.getClient(sessionAttributes['client_id'])}"/>

                                        <s:div rendered='#{!empty client.getLogoUri()}'>
                                            <h:graphicImage url='#{client.getLogoUri()}'/>
                                        </s:div>

                                        <div class="dialog">
                                        	<p>Touch your U2F token.</p>
                                        </div>

                                        <s:div rendered='#{!empty client.getPolicyUri()}'>
                                            <p>
                                                <h:outputText value="#{messages['common.agreePolicy']}"/>
                                                <a target="_blank" href='#{client.getPolicyUri()}'>
                                                    <h:outputText value="#{messages['common.privacyPolicy']}"/>
                                                </a>
                                            </p>
                                        </s:div>

                                        <s:div rendered='#{!empty client.getTosUri()}'>
                                            <p>
                                                <h:outputText value="#{messages['common.pleaseReadTheTos']}"/>
                                                <a target="_blank" href='#{client.getTosUri()}'>
                                                    <h:outputText value="#{messages['common.termsOfService']}"/>
                                                </a>
                                            </p>
                                        </s:div>
                                    </div>
                                </div>
                                <div class="login-panel">
                                	<s:fragment rendered="#{fido_u2f_authentication_request != 'null'}">
                                	</s:fragment>
                                </div>
                            </h:panelGroup>
                        </h:form>
                    </div>
                </td>
            </tr>
        </table>
    </ui:define>

</ui:composition>
