<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/incl/layout/template.xhtml">
    <ui:define name="head">
        <style type="text/css">
            .login-panel {
                border-style: solid;
                border-width: 1px;
                padding: 1px;
                background-color: #FFFFFF;
                border-color: #C4C0B9;
            }

            .login-panel-header {
                background-color: #D4CFC7;
                background-image: url("#{oxAuthConfigurationService.getImgLocation()}/panel_header_bg.png");
                background-position: left top;
                background-repeat: repeat-x;
                border-style: solid;
                border-width: 1px;
                padding: 2px;
                border-color: #D4CFC7;
                color: #000000;
                font-family: Arial, Verdana, sans-serif;
                font-size: 11px;
                font-weight: bold;
            }

            .login-panel-body {
                padding: 10px;
                color: #000000;
                font-family: Arial, Verdana, sans-serif;
                font-size: 11px;
            }
        </style>
    </ui:define>

    <ui:define name="pageTitle">
        <h:outputText value="#{messages['login.pageTitle']}"/>
    </ui:define>

    <ui:define name="body">
        <table border="0" align="center">
            <tr>
                <td>
                    <div>
                        <h:form id="loginForm">
                            <s:token/>
                            <h:panelGroup rendered="#{not identity.loggedIn}">
                                <div class="login-panel">
                                    <div class="login-panel-header">
                                        <h:outputText value="#{messages['login.login']}"/>
                                    </div>
                                    <div class="login-panel-body">
                                        <c:set var="client" value="#{clientService.getClient(sessionAttributes['client_id'])}"/>

                                        <s:div rendered='#{!empty client.getLogoUri()}'>
                                            <h:graphicImage url='#{client.getLogoUri()}'/>
                                        </s:div>

                                        <p class="info">
                                            <h:outputText value="#{messages['login.pleaseLoginHere']}"/>
                                        </p>

                                        <div class="dialog">
                                            <h:panelGrid columns="3" border="0" rowClasses="prop"
                                                         columnClasses="name,value,hint">
                                                <h:outputLabel for="username" value="#{messages['login.username']}"/>
                                                <h:inputText id="username"
                                                             value="#{credentials.username}" autocomplete="off"/>
                                                <h:outputText value=""/>

                                                <h:outputLabel for="password" value="#{messages['login.password']}"/>
                                                <h:inputSecret id="password"
                                                               value="#{credentials.password}" autocomplete="off"/>
                                                <h:outputText value=""/>

                                                <h:outputLabel for="rememberMe"
                                                               value="#{messages['login.rememberMe']}"/>
                                                <h:selectBooleanCheckbox id="rememberMe"
                                                                         value="#{rememberMe.enabled}"/>
                                                <h:outputText value=""/>
                                            </h:panelGrid>
                                        </div>

                                        <s:div rendered='#{!empty client.getPolicyUri()}'>
                                            <p>
                                                <h:outputText value="#{messages['common.agreePolicy']}"/>
                                                <a target="_blank" href='#{client.getPolicyUri()}'>
                                                    <h:outputText value="#{messages['common.privacyPolicy']}"/>
                                                </a>
                                            </p>
                                        </s:div>

                                        <s:div rendered='#{!empty client.getTosUri()}'>
                                            <p>
                                                <h:outputText value="#{messages['common.pleaseReadTheTos']}"/>
                                                <a target="_blank" href='#{client.getTosUri()}'>
                                                    <h:outputText value="#{messages['common.termsOfService']}"/>
                                                </a>
                                            </p>
                                        </s:div>

                                        <div class="actionButtons">
                                            <h:commandButton id="loginButton"
                                                             value="#{messages['login.login']}"
                                                             action="#{authenticator.authenticate}" />

	                                        <s:div id="registerId" style="display:none">
	                                            <h:commandButton id="registerButton"
	                                                             value="#{messages['login.register']}"
	                                                             action="#{authenticator.authenticate}" />
	                                        </s:div>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-panel">
                                	<s:fragment rendered="#{external_auth_request_uri != Null}">
                                		<a id="externalAuthButton"
											href="#{external_auth_request_uri}">
                                            <input type="button" value="Use External Authentification" />
										</a>
                                	</s:fragment>
                                	<s:fragment rendered="#{external_registration_uri != Null}">
                                		<a id="externalRegistrationButton" href="#{external_registration_uri}">
                                		    <input type="button" value="Register new user" />
										</a>
                                	</s:fragment>
                                </div>
                            </h:panelGroup>
                        </h:form>
                    </div>
                </td>
            </tr>
        </table>
        <script type="text/javascript">
            window.onload = function() {
                var userNameField = document.getElementById("loginForm:username");
                if (userNameField != null) {
                	userNameField.focus();
                }

                var displayRegister = #{display_register_action or sessionAttributes['display_register_action']};
                if (displayRegister) {
                    var registerButton = document.getElementById("loginForm:registerId");
                    if (registerButton != null) {
                        registerButton.style.display = 'inline';
                    }
                }
            };
        </script>
    </ui:define>
</ui:composition>